<section class="post clearfix">
  <div>
    <img src="/assets/img/icon-retweet.png">
  </div>
  <ul>
      <li>Repost this to your followers?</li>
      <li {{action "yesRepost"}}>Yes</li>
      <li><span>.</span></li>
      <li {{action "noRepost"}}>No</li>
  </ul>
</section>
