<section class="post clearfix">
  <div>
    <img src="/assets/images/icon-retweet.png">
  </div>
  <div>Repost this to your followers?</div>
  <ul>
      <li {{action "yesRepost"}}>Yes</li><span>.</span><li {{action "noRepost"}}>No</li>
  </ul>
</section>