<section class="post clearfix">
  <div style="">
    {{#link-to 'user.posts' post.user}}<img {{bind-attr src=user.imageURL}} alt="User image">{{/link-to}}
  </div>
  <div class="clearfix">
    {{#link-to 'user' user}}<h3>{{user.id}}</h3>{{/link-to}}

    <ul>
      <li></li>
    </ul>
  </div>
</section>
