<section class="front-signin">
    <h2>Create your account</h2>    
    <form class="signin">
        <div class="username">
            <input type="text" id="signin-email" class="email-input" placeholder="Enter your name ...">    
        </div>
        <div class="username">
            <input type="text" id="signin-email" class="email-input" placeholder="Enter your username ...">    
        </div>
        <div class="password">
            <!-- create Ember helper
            http://emberjs.com/guides/templates/input-helpers/
            http://emberjs.com/guides/templates/links/
            -->
            <input type="password" id="signin-password" class="password-input" placeholder="Enter your password ...">
        </div>
        <div class="login-recover-signup">
            <button type="submit" class="submit">Sign up</button>
            <div class="recover-signup">                                
                <a href="" class="signup">Log in</a>
            </div>
        </div>                            
    </form>
</section>  