<section class="front-signin">
    <h2>Get going ...</h2>    
    <form class="signin" {{action "login" on="submit"}}>
        {{#if loginFailed}}
            <div class="alert">Invalid username or password.</div>
        {{/if}}
        {{#if isSlowConnection}}
            <div class="alert alert-info">The request seems to be taking more time than usual, please wait.</div>
        {{/if}}
        <div class="username">
            {{input value=username type="text" placeholder="Enter your username ..."}}
        </div>
        <div class="password">
            {{input value=password type="password" placeholder="Enter your password ..."}}
        </div>
        <div class="login-recover-signup">
            <button type="submit" class="btn" {{bindAttr disabled="isProcessing"}}>Log in</button>
            <div class="recover-signup"> 
                <a class="recover">
                    {{#link-to 'telegram.resetPassword'}}Reset Password{{/link-to}}
                </a>
                <span>or</span>                
                <a class="signup">
                    {{#link-to 'telegram.createAccount'}}Sign Up
                    {{/link-to}}
                </a>
            </div>
        </div>                            
    </form>
</section>  
