<section class="front-signin">
    <h2>Reset password</h2>    
    <form class="signin">
        <div class="username"><!-- add email class -->
            <input type="text" id="signin-email" class="email-input" placeholder="Enter your email ...">    
        </div>
        <div class="login-recover-signup">
            <button type="submit" class="submit">Reset password</button>
            
        </div>                            
    </form>
</section>  