<section class="front-signin">
    <h2>Get going ...</h2>    
    <form class="signin">
        <div class="username">
            <input type="text" id="signin-email" class="email-input" placeholder="Enter your username ...">    
        </div>
        <div class="password">
            <!-- create Ember helper
            http://emberjs.com/guides/templates/input-helpers/
            http://emberjs.com/guides/templates/links/
            -->
            <input type="password" id="signin-password" class="password-input" placeholder="Enter your password ...">
        </div>
        <div class="login-recover-signup">
            <button type="submit" class="submit">Log in</button>
            <div class="recover-signup">                                
                <a href="" class="recover">Recover password</a>
                <span>or</span>
                {{link-to 'telegram.createAccount'}}
                <a href="" class="signup">Sign up</a>
            </div>
        </div>                            
    </form>
</section>  