<nav class="clearfix">
    <ul>
        <li>{{#link-to 'user.posts'}}Posts{{/link-to}}</li>
        <li><span>Following</span></li>
        <li>{{#link-to 'user.followers'}}Followers{{/link-to}}</li>
    </ul>
</nav>
