<nav class="clearfix">
    <ul>
        <li>{{#link-to 'user.posts'}}Posts{{/link-to}}</li>
        <li>{{#link-to 'user.following'}}Following{{/link-to}}</li>
        <li><span>Followers</span></li>
    </ul>
</nav>

{{#each user in controller}}

    {{user-block user=user}}

{{/each}}


