<nav class="clearfix">
    <ul>
        <li><span>Posts</span></li>
        <li>{{#link-to 'user.following' user}}Following{{/link-to}}</li>
        <li>{{#link-to 'user.followers' user}}Followers{{/link-to}}</li>
    </ul>
</nav>


{{#each post in controller}}

    {{post-block post=post}}

{{/each}}
