<header>
	{{#link-to 'telegram'}}	
    <div class="home">
        <img src="../assets/img/home.png">
        <h4>Home</h4>
	</div>  
	{{/link-to}}  
	{{#link-to}}	
    <div class="user-link">
        <img {{bind-attr src=session.user.imageURL}} style="height: 35px; width: 35px">
        <h4>{{session.user.name}}</h4>
	</div>  
	{{/link-to}}  
</header>