<header>
  {{#link-to 'telegram'}}
    <div class="home">
        <img src="../assets/img/home.png">
        <h4>Home</h4>
    </div>
  {{/link-to}}

    <div class="user-links">
        <ul>
            {{#link-to 'user.posts' session.user}}
            <li>
                <img {{bind-attr src=session.user.imageURL}} style="height: 35px; width: 35px">
            </li>
            <li>{{session.user.name}}</li>
            {{/link-to}}
            {{#link-to}}
            <li {{action "logOut" on="click"}}>Log out</li>
            {{/link-to}}
        </ul>
    </div>
</header>
