<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Telegram</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <div id="page-outer">
            <div id="page-container">
                <section class="front-card">
                    <section class="front-welcome">
                        <div class="logo">
                            <h1 class="visuallyhidden">Telegram</h1>
                        </div>      
                    </section>
                    <section class="front-signin">
                        <h2>Get going ...</h2>    
                        <form class="signin">
                            <div class="username">
                                <input type="text" id="signin-email" class="email-input" placeholder="Enter your username ...">    
                            </div>
                            <div class="password">
                                <input type="password" id="signin-password" class="password-input" placeholder="Enter your password ...">
                            </div>
                            <div class="login-recover-signup">
                                <button type="submit" class="submit">Log in</button>
                                <div class="recover-signup">                                
                                    <a href="" class="recover">Recover password</a>
                                    <span>or</span>
                                    <a href="" class="signup">Sign up</a>
                                </div>
                            </div>                            
                        </form>
                    </section>  
                    <div class="postmark"></div> 
                </section>
            </div>
        </div><!-- end of page-outer -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--<script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->
    </body>
</html>
