<div id="page-outer">
    <div id="page-container">
        <section class="front-card">
            <section class="front-welcome">
                <div class="logo">
                    <h1 class="visuallyhidden">Telegram</h1>
                </div>      
            </section>
            {{outlet}}

            <div class="postmark"></div> 
        </section>
    </div>
</div><!-- end of page-outer -->

