<div id="page-outer">
    <div id="page-container">
        <section class="front-card">
            
            {{outlet}}
            
        </section>
    </div>
</div><!-- end of page-outer -->

